[2019-12-05 15:33] kreuzerk opened #1 "Option to pass the fileName"

[2019-12-05 15:33] kreuzerk opened #2 "Reorganize structure"

[2019-12-05 15:34] kreuzerk opened #3 "Testing"

[2019-12-05 15:37] kreuzerk opened #4 "Remove console output"

[2019-12-08 12:46] #2 closed

[2019-12-08 12:50] #4 closed

[2019-12-09 10:08] #3 closed

[2019-12-10 09:40] Palapapaa opened #6 "Error when having a folder in source dir"
Hello,

Thank you for your lib, it does exactly what I need for my project.

However I had an error when having a folder in source dir.

I've made a pull request that fix that. #5

[2019-12-10 12:19] kreuzerk commented on #6
Hello

Awesome! Thanks a lot!
The PR looks good. But there’s a conflict.

After the conflict is resolved, I will merge it.

Kind regards
Kevin

[2019-12-10 12:32] Palapapaa commented on #6
Okay, will do :)

I have another suggestion.
In my icon folder I have subfolder that also contains icons (this is why I had my error).
Would you think it would be an interesting feature (or maybe it already exists) to include multiple source dir ? Another solution would be a include pattern like `./inputfiles/**` (but it seems more difficult to implement to me).

If you're interessed I can create

[2019-12-10 12:37] kreuzerk commented on #6
Hi Guillaume

Thanks a lot. Yeah I think this is a great idea. 👍
A PR is more than welcome. Thanks for the contribution. That’s awesome!

Also if you have other ideas or further improvements, its welcome.
Can I ask you if you use this project for an Icon library?

Kind regards

[2019-12-10 12:42] kreuzerk commented on #6
I also added you as a collaborator - so you can directly push to this repository

[2019-12-10 12:59] Palapapaa commented on #6
Yup, I'm currently working on an Angular component lib.
I have to make an Icon component, and was about to develop nearly the same tool to convert my SVG assets to TypeScript file.
Your lib was clean and easy to understand so I've decide it was a good idea to use it and modify it in order to fit my needs.

Thank you for adding me to contributors.

How do you want me to contribute ?
Do you want me

[2019-12-10 13:45] kreuzerk commented on #6
Yes - that would be the best. Just a branch and a PR. That would be awesome!

[2019-12-10 13:46] kreuzerk commented on #6
And use conventional commit messages - The release is fully automated. So once we merge to master new versions get released based on commit messages.

[2019-12-10 14:02] #1 closed

[2019-12-11 15:08] kreuzerk opened #9 "Support regex for multi directory folders"

[2019-12-13 14:07] #6 closed

[2019-12-13 14:07] kreuzerk commented on #6
Thx a lot @Palapapaa for your contributions.

[2019-12-23 01:40] reecemcd opened #11 "Support Custom Name Delimiter"
We utilize [@mdi](https://materialdesignicons.com/) icons and their docs list icon names with a `-` delimiter instead of `_`. Any way we could add an input flag to optionally render name values with a custom delimiter?

[2019-12-23 08:53] kreuzerk commented on #11
Hi @reecemcd. Thanks for this issue. Yes it is possible. Just to be sure, you mean the delimiter in the generated names of the `type`?

[2019-12-25 04:49] hrmcdonald commented on #11
Not sure exactly what you would refer to it as. Specifically, I mean the strings generated as values for the `name` properties in each icon constant. Because that is the value users pass to our icon component, it would be great if we could customize those to match our icon library's documentation formatting.

I'm just doing a replace for now, but an input option might be more ideal.

[2019-12-25 04:50] hrmcdonald commented on #11
Not sure exactly what you would refer to it as. Specifically, I mean the strings generated as values for the `name` properties in each icon constant. Because that is the value users pass to our icon component, it would be great if we could customize those to match our icon library's documentation formatting.

I'm just doing a replace for now, but an input option might be more ideal.

[2019-12-25 04:50] reecemcd commented on #11
Not sure exactly what you would refer to it as. Specifically, I mean the strings generated as values for the `name` properties in each icon constant. Because that is the value users pass to our icon component, it would be great if we could customize those to match our icon library's documentation formatting.

I'm just doing a replace for now, but an input option might be more ideal.

[2019-12-31 12:17] kreuzerk commented on #11
Just published a new version (2.2.0) which allows you to pass in a delimiter flag. See the output from the help command:

`  -d --delimiter <Delimiter>     delimiter which is used to generate the types and name properties (CAMEL,KEBAB,SNAKE) (default: "SNAKE")
`

https://github.com/kreuzerk/svg-to-ts/pull/12

[2019-12-31 12:17] #11 closed

[2019-12-31 12:18] kreuzerk commented on #11
Please let me know if something doesn't work for your use case.

[2020-02-01 15:56] yagoferrer opened #14 "It will fail if there's a `.DS_Store` file in the folder"
It will fail if there's a `.DS_Store` file in the folder. It should ignore "hidden" files.

Error:
[code]

[2020-02-05 08:35] Palapapaa commented on #14
Hi !

Maybe we should just check that we only work on `.svg` files.

[2020-02-05 13:15] kreuzerk commented on #14
Yes. that would be a good solution.

[2020-02-10 17:56] #14 closed

[2020-02-10 18:00] kreuzerk commented on #14
:tada: This issue has been resolved in version 2.2.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/svg-to-ts)
- [GitHub release](https://github.com/kreuzerk/svg-to-ts/releases/tag/v2.2.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-03-05 10:29] #9 closed

[2020-03-05 10:32] kreuzerk opened #19 "Read configuration from package json config"
Currently, svg-to-ts offers a lot of possibilities to configure things. It can be confusing when you see all those params in a single npm script.

It would be great if we offer the possibility to either add a key to package.json to configure our module or via a dedicated config file like (.svg-to-ts)

[2020-03-08 16:08] #19 closed

[2020-03-23 19:01] felipeplets opened #25 "Enable the type to be an enumerator instead of a type."
I've been using the library since version 2 and for my use case the best would be that type can be an enumerator instead so that users have easily idea of all the icon options available in the library.

[2020-03-24 17:40] allfayn opened #26 "Create configuration for svgo optimizing"
For example, we need to save icon size dimensions
`<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewBox="0 0 20 20">...</svg>`

Another behavior:
`<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="none" viewBox="0 0 20 20">...</svg>`

Now the parameters for the svgo are set statically and there is no way to disable the plugin
`removeDimensions:

[2020-03-24 21:09] kreuzerk commented on #25
We can do that 👍Would be string enum because I think if you use the icons with a registry it's better to have a string as runtime representation than a number.

Generally, you should already get a list of all available icons by using the type. Usually, your IDEA can display them and you would see a list of all available icons. So if for example, your component accepts an icon of ``myIcon`` as ``@I

[2020-03-24 22:29] felipeplets commented on #25
Yes, I use IntelliJ and VSCode. My VSCode does not autocomplete it but IntelliJ does, although is not quite the same experience as with an enum.

But my main use case is that I have a components library using Storybook, and I can easily provide the list of available icons through a dropdown to the end user (UI/UX) team by setting a `select` knob with the type of the enumerator.

I'm half way with

[2020-03-25 06:59] kreuzerk commented on #25
Wow. Sounds amazing. Looking forward to the PR! 👍
Yes, a flag ``enumType`` which defaults to false sounds good.

[2020-03-25 08:08] akehir commented on #25
I second that. Enum instead of type!

[2020-03-25 08:14] akehir opened #28 "API in command line documentation"
https://github.com/kreuzerk/svg-to-ts/blob/1080983542ece92e69f49b778eee6271e29c6e30/src/bin/svg-to-ts.ts#L48

Not just the readme, this also seems to need to be updated to compileSources.

[2020-03-25 10:54] kreuzerk commented on #28
@akehir Thank you very much for pointing this out. I just pushed the changes. Everything should be fixed with version 4.0.5.

Thanks a lot

[2020-03-25 10:54] #28 closed

[2020-03-25 17:13] #26 closed

[2020-03-27 22:50] akehir opened #30 "Need to escape svg character '"
The ts string of the svg should either be escaped, or the svg should be contained in a template literal.

For instance, trying to convert the following svg to a ts file will fail:
[code]

[2020-03-28 07:40] #30 closed

[2020-03-28 07:45] kreuzerk commented on #30
:tada: This issue has been resolved in version 4.1.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/svg-to-ts)
- [GitHub release](https://github.com/kreuzerk/svg-to-ts/releases/tag/v4.1.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-03-31 23:56] dsebastien opened #32 "Allow to customize the barrel file name"
For scenarios in which we chose not to compile the code it would be nice to be able to chose the barrel file name.

[2020-04-01 19:59] kreuzerk commented on #25
I think we should support both. Maybe some background why it is currently a type. Most often the icons are used with a component and a registry. The usage for an end consumers would be the following:

[code]
In such a scenario using a type has the following advantage.

1. Usually ideas are able to give you a preview of all available icon types when you want to pass the icon name over an ``@Input()

[2020-04-05 16:13] felipeplets commented on #25
I understand @kreuzerk.

I'm currently finishing this implementation and thus I was thinking that we can add two options:

1 - `-e --enumName` to name the enumerator
2 - `-de --disableEnum` to disable it (in case the default behaviour is to generate it) or `-de --enableEnum` (in case the default behaviour is to not generate it)

My only question is what do you believe is the best as the default op

[2020-04-05 16:27] akehir commented on #25
It's also possible to export both  an  quasi `enum` and a `type`,  in this way:

[code]

Then you can pass in either a string, as currently, or use the DinosaurIcon.tyrannosaurusIcon.

And easily map it to an array, like so:

[code]

[2020-04-05 17:01] felipeplets commented on #25
@akehir I had implemented it as an enum but for my use case the object works too and we can use the same name so would be a much simpler implementation because no option would be needed in this case. This is the PR #36 (it has more code because it depends on another PR I raised earlier today #35)

[2020-04-05 18:03] kreuzerk commented on #25
I personally would prefer to generate types by default. Then I would also offer the possibility to generate only the const or const and type like suggested by @akehir. I would not generate both by default.

I imagine some options like this

generateTypes: boolean (default: true);
generateTypeObject:boolean (default: false);

[2020-04-09 12:42] felipeplets commented on #32
@dsebastien My understanding is that you would like to be able to set a parameter, let's say `--barrelFileName=myBarrelFile` and instead of the generating the barrel file as `index.ts` if would generate as `myBarrelFile.ts`.
Am I correct?

[2020-04-09 12:59] dsebastien commented on #32
Yep, exactly!

[2020-04-12 10:48] kreuzerk commented on #25
Fixed with version 4.2.0. Thanks to everybody involved in the discussion and special thank to @felipeplets for the awesome PR.

[2020-04-12 10:48] #25 closed

[2020-04-20 15:06] dsebastien opened #37 "Failed svg to ts conversion"
Hello,

I'm facing a weird issue with svg-to-ts. It seems to work fine for SVG icons coming from material design icons, but with the following file (and others) that I've received from a designer, it seems to fail silently.

Here's the SVG file:

[code]
Once converted into TS, here's what is generated:

[code]

As you can see, the generated TS file's data field does not contain the expected SVG da

[2020-04-21 06:37] kreuzerk commented on #37
Hi @dsebastien thanks for the great description and the reproduction steps. I created a local project to reproduce your issue. For me everything worked fine with the default `svgoConfig` of `svg-to-ts`. The cleanupAttrs cleans removes the color from your svg icon.

I used the following config which worked:

[code]
When I copied the data from the generated svg and opened it in a browser I got like

[2020-04-21 06:38] kreuzerk commented on #37
Please let me know if this works for you.

[2020-04-21 06:56] dsebastien commented on #37
Hello @kreuzerk

Indeed, you're right! I've verified and indeed, the SVG data is correct, our issue must be elsewhere; might be a CSS issue after all.

I wrongly assumed there was a conversion issue because I didn't find the <rect> elements of the SVG, but I suppose it is due to the compression that is done during conversion.

Sorry for the waste of time, and thanks for looking into this (and for

[2020-04-21 06:56] #37 closed

[2020-04-21 10:05] dsebastien commented on #37
It seems that my issue is caused by the fact that the icons I'm now converting have a fill color (white in the example above), while the ones I was using earlier from Angular material had fill="none":

I could work around it using svgo plugins, but I still have an issue with the shape itself. Apparently the icon above's rectangle goes out of the bounds of the svg visible space.

By default I set t

[2020-06-14 11:46] NetanelBasal opened #39 "Add support for object output"
Hey, great library!

I'm about to release a new `<svg-icon>` library where I recommend and show how to use this library.

In my library, we expect to get an object where the `key` is the icon name, and the value is the `content`:

[code]

Currently, I expose a function helper that'll make it work with your library:
[code]

Do you think you can add this option as a built-in feature?

[2020-06-15 07:17] kreuzerk commented on #39
Hi @NetanelBasal

Thx a lot. Glad to hear that you like the library and that you want to include it in an article. Yes, we could add this feature. But I am not sure if providing the icons as an object has benefits.

I think that delivering the icons as an object makes them not tree shakable. Currently, we deliver the icons either as single`consts` so that they are tree shakable or even as single f

[2020-06-15 07:40] NetanelBasal commented on #39
In real life, most of the applications use a library where you register the icons and use them in the component. The registry expects an object where the key is the icon name, and the value is the SVG content. Let's take my library as an example:

[code]

And now we can use the icons:

[code]

In these cases, there is no benefit of using `constants` because we need an `object`. To support your lib

[2020-06-15 14:22] NetanelBasal commented on #39
If you find it unsuitable for your library, let me know, and I'll create a dedicated library for this :)

[2020-06-15 14:30] kreuzerk commented on #39
No, after your explanation I think it makes sense - with this, we could support all scenarios - object, const and multiple files.

[2020-06-15 15:00] kreuzerk commented on #39
I will start to work on this soon - hope that I can find time and deliver it asap.

[2020-06-15 15:04] NetanelBasal commented on #39
Great! Thanks. In the meantime, when I'll publish it next week, I will instruct to use the `fromSvgProps` helper function.

[2020-06-16 07:04] kreuzerk commented on #39
I have implemented a first version that is now able to convert icon to object, constants and files. I just want to quickly check if my current implementation meets your requirement and ensure that I understood you correctly.

So if we would convert a folder with the following icons:

- expressionLess.svg
- full.svg
- laughing.svg

we would end up with the following file. ``ìcon.ts```

[code]

When

[2020-06-16 07:09] NetanelBasal commented on #39
Yes, that's great. I'd also add an option to export it as `default`.

`export default { ... }`

[2020-06-16 07:11] NetanelBasal commented on #39
I also think the default delimiter should be camelCase. This is the standard.

[2020-06-16 15:45] #39 closed

[2020-06-16 16:26] NetanelBasal commented on #39
Thanks for the quick collaboration! I'll update my library.

[2020-06-16 16:50] kreuzerk commented on #39
Awesome, let me know if everything worked

[2020-06-16 18:55] NetanelBasal commented on #39
Works great.

[2020-06-16 19:20] kreuzerk commented on #39
Epic glad to hear - let me know once your blog post is out. If you want we can also link to it from our README.

[2020-06-16 19:21] NetanelBasal commented on #39
I added in the README a recommended flow with your library.

[2020-06-17 06:49] kreuzerk commented on #39
Awesome thx.

[2020-06-19 17:59] kremerd opened #43 "[Feature request] Angular builder"
It would be pretty nice to have an Angular builder to run `svg-to-ts`. The configuration could then be inlined in `angular.json` like so:

[code]

And the builder could be run via the Angular CLI:

[code]

Maybe it's even possible to get IntelliSense for the configuration in supported editors. Either way, integrating with the Angular build infrastructure seems desirable to me. What do you think?

[2020-06-24 17:51] Jakob-em opened #44 "[Feature request] Union type from array"
What do you think about adding the possibility to generate the union type definition like this:

[code]

This would allow the use of the array to iterate over the available icons for a showcase page for example.
I would be happy to implement this feature.

[2020-06-24 19:49] kreuzerk commented on #44
Hi @Jakob-em

Thanks a lot for the feature request. We already allow you to generate an Object of the types which you can use to iterate through. To generate this object you need to set the `generateTypeObject` flag to `true`.

The output will be something like this:

`
export type myIcons = 'expression_less' | 'full' | 'laughing' | 'smiling_face';

export const myIcons = {
  expression_less: 'exp

[2020-06-24 19:49] #44 closed

[2020-06-24 19:58] Jakob-em commented on #44
Hi @kreuzerk,
Thanks for your quick answer. I know that the generation of a union type is currently possible, but the problem with union types is that you can not iterate over the possbile values. To solve this issue and allow for iteration over all icons I suggested to change the generation of the union type to be created via an immutable array. This would allow for both type safety, but also ite

[2020-06-24 20:00] kreuzerk commented on #44
Hi @Jakob-em. Yes, but you can iterate over the generated object.

[code]

[2020-06-24 20:04] Jakob-em commented on #44
Ah yes your totally right, but this wouldn't work when using conversionType 'files' right? (Thats what i tried to use)

[2020-06-24 20:06] kreuzerk commented on #44
It also works for converstionType files.

[2020-06-24 20:09] kreuzerk commented on #44
Let me know if there are issues or if you need help

[2020-06-24 20:10] Jakob-em commented on #44
Now i get it. Yes this should work. Thanks for the quick help 👍

[2020-06-24 20:11] kreuzerk commented on #44
No worries. Glad to hear that it works.

[2020-06-30 14:56] TitoMoi opened #45 "Special char simple coma in filename"
**Simple coma** in filenames, for example: "Noah's ark.svg" throw an error at compilation time.

I've tested with:
"q&a.svg" -> OK
 "a=b.svg" -> OK
"3name.svg" -> OK

A posible solution when creating the name could be:

[code]

The error stack:

[code]

my package config:

[code]

Thanks. Greetings.

[2020-07-14 15:44] marco-martins opened #47 "[Feature request] Data properties on icon objects"
Would be really helpful if could set more properties on icon objects:

example:
[code]

[2020-07-21 12:46] derbenoo opened #49 "Exit code "1" on failure"
svg-to-ts currently always returns the exit code "0", regardless of whether an error occurred. We are using svg-to-ts inside our CI (CircleCI), which assumes that a command returns the exit code "1" on error. This lead to a breaking change slipping through CI!

[2020-08-11 14:10] pyrrhicman opened #50 "A conversionType is required, please specify one by passing it via --conversionType"
[code]
It gives me this error although i used `svg-to-ts --conversionType constants` whatever I do I get the same message.

[2020-08-14 07:47] Trigonometric opened #51 "svg with masks and clip-paths get broken"
If i try to compile svg containing masks or clip-paths, I get broken icons, which look different from the icons before compilation. I have tried all plugins in all values (true/false) with no effect.

[2020-08-14 09:13] #51 closed

[2020-08-14 09:19] Trigonometric commented on #51
The problem was in svgo config. By default all ids (of masks and clip-paths) are compiled the same ("a") through the document, so they get confused to each other. All you have to do is to provide config properly `{"cleanupIDs": false}` into the plugins array. It is important that all elements in that array must be separate OBJECTS like `{"cleanupAttrs": true}, {"cleanupIDs": false}`

[2020-08-15 09:55] kreuzerk commented on #50
Hi @pyrrhicman from the error message it seems like you added a `svg-to-ts` config object in your `package.json`. In this case this config object wins over the command line argument. Can you try to add `"conversionType": "constants"` to your config object in your `package.json`?

[2020-08-15 09:57] kreuzerk commented on #51
👍  @Trigonometric thanks for bringing this up and explaining the solution.

[2020-08-15 10:12] kreuzerk opened #52 "List all contributors in the README"
Use the all-contributors specs to list all contributors in the `README.md` (https://github.com/all-contributors/all-contributors)

[2020-08-16 19:41] #50 closed

[2020-08-25 09:52] #49 closed

[2020-08-25 10:31] TitoMoi opened #54 "TypeName in own config object in package not working"
[](url)
<img width="1156" alt="Captura de pantalla 2020-08-25 a las 12 24 04" src="https://user-images.githubusercontent.com/43403697/91163809-717eac80-e6ce-11ea-96de-5a8e6cba1212.png">

TypeName is not working, the additionalModelFile is exported correctly but the compiled model name is of type "string"

But, in command line works perfectly.

We had to switch to own config object in package becau

[2020-08-26 05:45] #52 closed

[2020-08-31 14:20] yagoferrer opened #56 "Allowing multiple sets of configurations in the package.json"
Hi @kreuzerk,
I pulled the latest version of svg-to-ts, and unfortunately, I can't use it with the new configuration file. If the docs are up to date, you can only have: **one** set of source files and **one** output directory. I have a big project, and for performance reasons, I need to generate six files at various locations in my project.

I was wondering if the `svg-to-ts` entry, in the `packa

[2020-08-31 17:24] kreuzerk commented on #56
Hi @yagoferrer

Thanks for reporting this feature request. We already once thought about supporting multiple configurations. So it is possible. May I ask what doesn't work for you when using a configuration file?

[2020-08-31 17:28] yagoferrer commented on #56
Oh! Excelent, I'll give it a try then. It's just the documentation then, that needs to be updated to reflect that it is possible to pass multiple configurations.

[2020-08-31 19:47] yagoferrer commented on #56
@kreuzerk,
This is what I'm trying to do and it does not work. In the package.json I added
[code]

[2020-08-31 23:07] braydonharris opened #57 "[Feature Request] Prepend generated files with comment"
It would be really nice to have the ability to prepend the generated files with a comment that indicates they where generated by svg to ts
or be able to  pass in an option with the desired comment ie:
"prependComment": "// generated file: do not edit",

[2020-09-01 05:40] kreuzerk commented on #56
@yagoferrer now it's clear. Thx for the explanation

[2020-09-02 08:18] TitoMoi opened #58 "[Feature] add enum support"
Add enum type support.

This is very useful for consume the enumeration in storybook or other projects.

For example in the extra generated <file.model.ts> add the:

export enum EnumName {
svgFile= 'svgFile',
svgFile2= 'svgFile2'
}

and a config prop to enable this enum generation or not

[2020-09-02 08:40] TitoMoi commented on #58
Sorry not posible to generate the enum dynamically as I read, instead I will generate an array dynamically in the consuming project. Thanks.

[2020-09-02 08:40] #58 closed

[2020-09-02 12:09] kreuzerk opened #61 "conversionType "files" - showcase support"
Improve output for showcase generations. Generate a nicer way to create showcases when using conversionType "files"

[2020-09-02 12:37] #57 closed

[2020-09-03 13:11] #61 closed

[2020-09-04 10:15] kreuzerk commented on #54
Hi @TitoMoi - Thanks for reporting this. I investigated a bit in this issue and I think you are missing the ``generateType: true`` in your config.

If I take your config and add the ``generateType: true`` option I get the following model.d.ts file.

[code]

[2020-09-04 10:15] kreuzerk commented on #54
does this fix the issue?

[2020-09-04 10:17] kreuzerk commented on #47
Hi @marco-martins thanks for bringing this up.
What's the use case for this?

Also, where would the data come from - I guess you would pass it to svg-to-ts. Would each icon need to get specific data or would the passed data be the same for all icons?

[2020-09-04 22:39] glenngr opened #64 "delimiter config property does not affect name property in generated files"
Hi and thanks for this awesome lib.

According to the documentation, the delimiter property should be used to generate the types and name properties

However, it only affects the file-name.

I have "delimiter": "kebab" in package.json, but the name property of the generated files still has snake-case

[2020-09-04 22:44] glenngr commented on #64
My mistake. The delimiter config property has to be set to "KEBAB", all caps. Sorry

[2020-09-04 22:44] #64 closed

[2020-09-05 22:16] KingDarBoja commented on #56
Also, should it be possible to add a shared interface for both configuration where `TechnicianIcon` and `CompanyIcon` can extend from? Something like `sharedModelName: BaseIcon` ?

[2020-09-07 20:35] glenngr opened #65 "Unable to reproduce fully treshakeable icon library"
I've been trying to follow the steps outlined in the README and the [Guide on Medium](https://medium.com/angular-in-depth/how-to-create-a-fully-tree-shakable-icon-library-in-angular-c5488cf9cd76), but I'm unable to get a fully tree-shakeable library.

All icons always end up in the main bundle, even when I clone the [PoC repo ](https://github.com/kreuzerk/dinosaur-icons/tree/feature/optimizeForLaz

[2020-09-07 20:36] glenngr commented on #65
Here is my svg-to-ts config
[code]

[2020-09-09 11:05] TitoMoi commented on #54
Hi @kreuzerk,

I've added the `generateType: true` and works perfectly, the model in the output build is correct and the model in the `additionalModelOutputPath` is correct, the difference I see is that in command line is not necessary to specify the `generateType`prop, that caused me confusion, this is my command line version:

svg-to-ts -s \"projects/merca-icons/svgs/*.svg\" -c files -o projects

[2020-09-13 03:19] JoA-MoS opened #67 "Working in a monorepo I want a way to specify an rc file per icon library"
Can a configuration flag be added to specify the path to the rc configuration file?

[2020-09-13 18:15] glenngr commented on #65
I've forked the repo and built a prototype ng-package converter.
Let me know if you want to take a look. I can open a PR

[2020-09-13 20:26] kreuzerk commented on #65
Hi @glenngr

Thanks a lot for this issue. Curious why it didn't work. If I find some time I will try to invest why the sample repo did not work. I would definitely be interested in the ng-package converter you created.

[2020-09-24 08:05] #32 closed

[2020-09-24 08:07] kreuzerk commented on #47
@marco-martins any news on that?

[2020-10-04 07:58] kreuzerk commented on #65
Hi, @glenngr I researched a bit why this doesn't work for you and I figured out that there is still something wrong in the description of my post. Sorry for that 😥

The issue is that the showcase I was using used the library from the `projects` folder instead of the `dist` folder. In such cases, the output is different because we are missing the library build step. The library is built as part of

[2020-10-04 07:59] #65 closed

[2020-10-04 12:49] glenngr commented on #65
@kreuzerk Thanks for answering. It works fine when the files from the dist folder.
I'm not sure the ng-packagr converter I mentioned earlier is needed now.
Let me know if you want to have a look anyway. It basically just creates one package subentry for each icon, but the build process is much slower compared to the way you do it now.

I did experiment with creating an angular builder for svg-to-t

[2020-10-04 18:18] kreuzerk commented on #65
Hi @glenngr glad to hear that it is working now. 👍

I really like the idea of having an Angular builder. In fact, we already have an issue with that. Also, a possible usage with Nx sounds very interesting. The same goes for the schematics to scaffold a library project.

Generally, I think that the Angular builder and the schematics should be in a dedicated project. I imagine the builder as a sort

[2020-10-05 14:19] #54 closed

[2020-10-05 14:21] kreuzerk commented on #54
Hi @TitoMoi

Thx a lot for reporting this issue. You were absolutely right, the default options were not correctly detected when provided over a config object. With this fix you should be able to remove the `generateType: true` from your `svg-to-ts` config.

It should now behave in the same way as the command line interface.

[2020-10-06 06:15] #67 closed

[2020-10-06 06:19] kreuzerk commented on #67
:tada: This issue has been resolved in version 5.3.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/svg-to-ts)
- [GitHub release](https://github.com/kreuzerk/svg-to-ts/releases/tag/v5.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-10-06 09:21] marco-martins commented on #47
Hi @kreuzerk It was a long time ago, but I think on the time, my need it was to send specific data to a specific icon.
Basically, I had a folder with a big number of icons and I did a script to generates all, some of the icons I would like the prefix to be _las_ (solid icons), _lar_ (regular icons) and _lab_ (brand icons). The idea was to send that prefix as a parameter, but could be useful to oth

[2020-10-06 13:47] kreuzerk commented on #47
Hi @marco-martins thanks a lot for your answer. I now see your use case.
In version 5.3 we introduced the possibility to add a `--config` flag to specify a path to a configuration file. With this flag you should be able to create multiple configurations (for example for solid, regular and brand icons).

Since this problem can be solved with the config flag I will close this issue for now. Let me k

[2020-10-06 13:47] #47 closed

[2020-10-07 06:33] kreuzerk commented on #56
In the upcoming version `5.4.0` `svg-to-ts` can handle multiple configurations like this:

[code]

[2020-10-07 06:33] #56 closed

[2020-10-12 19:15] kreuzerk opened #79 "Generate correct types"
Currently the generated type is wrong. Each icon should have the corrwct type on the name property and not the type of all icons.

[2020-10-13 06:34] #79 closed

[2020-10-13 06:38] kreuzerk commented on #79
:tada: This issue has been resolved in version 5.5.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/svg-to-ts)
- [GitHub release](https://github.com/kreuzerk/svg-to-ts/releases/tag/v5.5.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-10-14 14:30] kaltepeter commented on #43
I am interested in picking up this issue.

[2020-10-14 19:03] kreuzerk commented on #43
Hi @kaltepeter - amazing. 👍 Contributors are always very welcome.

I think we should implement this feature in a dedicated repository since `svg-to-ts` is actually framework agnostic. So I imagine the Angular builder to be a wrapper around `svg-to-ts`. I still need to figure out the correct place for the repository. I personally would prefer to add it to a GitHub organization like ngneat or Angula

[2020-10-15 01:53] kaltepeter commented on #43
@kreuzerk sounds good! I was wondering about that myself too, since it adds at the very least the `@angular-devkit/architect` and possibly `@angular-devkit/architect` to the dependencies and angular specific configs.

[2020-10-15 06:20] kreuzerk commented on #43
@kaltepeter I created an `svg-icons-builder` repository on the `angular-extensions` organization and added you as maintainer. https://github.com/angular-extensions/svg-icons-builder.

I am going to close this issue here - since it doesn't have a direct impact on `svg-to-ts`. Let's chat on Twitter for further details ;)

[2020-10-15 06:20] #43 closed

[2020-10-31 14:26] #45 closed

[2020-11-06 10:54] Spielboerg opened #87 "Feature request/question: Convert SVGs to <symbol>s"
I have been looking for a good solution for icon handling for a long time. In the meantime I wrote my own script to group all my icons in one file and convert each one to a `<symbol>` for easy referencing:

SVG sprite:
[code]
Usage:
[code]

But I did not implement tree-shaking, so your tool seems very promising to me.

So I have one suggestion & one question:
1. Could you provide an option to conv

[2020-11-11 13:59] kreuzerk commented on #87
Hi @Spielboerg thanks a lot for this question and sorry for the late response.

1. It's a valid suggestion. However, this project aims to convert `SVG` files to `TypeScript`. Converting `SVG` icons to and `SVG` sprite with symbols in my opinion isn't a use case of this repository.

2. Don't know about symbols but having each Icon in a single file is very useful to improve bundle size. But usually,

[2020-11-11 14:00] #87 closed

[2020-11-11 14:01] kreuzerk commented on #87
@Spielboerg I close this ticket since there's nothing to implement in `svg-to-ts`. But let me know if you need any help.

[2020-11-11 15:55] Spielboerg commented on #87
Hi @kreuzerk, thank you for your detailed answer.

1. I think I could solve this problem by creating the `<symbol>`s before converting them to TypeScript files, right?

2. Your blogpost helps me a lot to understand the main concept with the icon registry.
Maybe I misunderstood it, but if I import the same icon in two different modules (because I need the icon in two pages of different modules), bo

[2020-11-24 09:19] kreuzerk commented on #87
Hi @Spielboerg

Sorry for the late response.

1. Yes I think so.
2. If the icon is used in multiple lazy loaded modules it ends up in a shared chunk (at least in Angular)

[2020-11-27 22:18] thatguynamedandy opened #91 "`IconNameSubset` duplicate name issue when using multiple icon sets"
Hi, I believe we may have uncovered a potential breaking change while making a [switch from 5.0.1 to 5.7.1](https://github.com/Legal-and-General/canopy/pull/66), or alternatively it may be a misuse from our side.

In our project we have two sets of icons, [`icons`](https://legal-and-general-canopy.netlify.app/?path=/story/components-icon--standard) and [`brand-icons`](https://legal-and-general-can

[2020-11-30 12:21] kreuzerk commented on #91
Hi @thatguynamedandy

Thx a lot for reporting this issue. You are absolutely right. That's an error on our site. We didn't think of the combination of the helper type `IconNameSubset` in combination with multiple configurations.

So yes - we need to find a solution for this.

1. We could prefix the helper type.
2. We could add a flag to enable or disable it - So you could enable it per configurati

[2020-12-02 12:31] kreuzerk commented on #91
After looking into it I think it makes sense to add a name prefix and also an option to disable it. So basically I would even switch to disable it by default which would be a breaking change.

[2020-12-02 12:32] kreuzerk commented on #91
I saw that you forked the repository. Are you already working on this or should I take a look?

[2020-12-02 16:06] thatguynamedandy commented on #91
I'll endeavour to take a look if thats ok?

I spent a bit of time looking into some options with typescript but didn't achieve too much. I was trying to focus on the ideal outcome and seeing how we might get there. I wondered if the ideal option would be this.

[code]

Which would allow us to use the same `type` for both Icons and BrandIcons (which in our case are the two types), meaning you could

[2020-12-02 17:30] thatguynamedandy commented on #91
Above is one possible approach, only raised as a draft more than happy to alter it.

[2020-12-03 13:51] kreuzerk commented on #91
Hi @thatguynamedandy Thanks a lot for the explanation and the draft. I think this is the best solution. In case somebody needs to have the same Icons he could still do the following:

`
export type thumbBrandIcons = someIcons | someBrandIcons
`
I looked at the PR and it looks good to me. Also, I think breaking changes are not an issue as long as they are justified. So to me this already looks good

[2020-12-03 13:51] kreuzerk commented on #91
Thx a lot for your effort 👍

[2020-12-03 14:35] thatguynamedandy commented on #91
Hi @kreuzerk I moved the PR out of draft, I think the commit message should match the syntax already, I didn't add the optional scope as I noticed it wasn't present in much of the history, but happy to add one.

[2020-12-03 15:20] kreuzerk commented on #91
Awesome. Thx a lot 👍 . Great work!

[2020-12-03 15:22] kreuzerk commented on #91
@all-contributors please add @thatguynamedandy for code, bugs, doc, ideas

[2020-12-03 21:07] kreuzerk opened #94 "Improved logging"

[2020-12-03 21:07] kreuzerk opened #95 "Document official Angular builder"

[2020-12-06 17:57] #91 closed

[2020-12-06 17:57] #94 closed

[2020-12-06 17:57] #95 closed

[2020-12-06 18:37] kreuzerk commented on #91
:tada: This issue has been resolved in version 6.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/svg-to-ts)
- [GitHub release](https://github.com/kreuzerk/svg-to-ts/releases/tag/v6.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-01-08 19:38] vijhhh2 opened #103 "complier not removing class defination in svg markup?"
Hi,
I am trying to generate ts files from SVG using svg-to-ts.
My generated typescript files SVG markup has the class definition.
I am not sure is this the default behaviour of generator.
Because of this class definition in SVG, I am not able to apply colour.
I have to delete classes manually and I need to apply the colour to SVG.
generated SVG file:
[code]
My Configuration
[code]

[2021-01-09 08:51] kreuzerk commented on #103
Hi @vijhhh2. If I understand correctly this issue comes because your SVG already has a hardcoded color. To override you need to use a deep selector to override the fill property. If you want to style your SVGs using the color attribute you need to provide your SVG in a different way. Basically without a hardcoded color.

`svg-to-ts` just converts your SVGs into `TypeScript` / `JavaScript`. However

[2021-01-09 08:51] #103 closed

[2021-01-10 16:25] Lonli-Lokli opened #104 "[Question] Generate icon presentation in code"
Not sure if it possible with Typescript approach, but it will be very helpful to have visual presentation of all icons so developer will be just searching for the specific image which he needs.
Ie use case - find icon and determine it's name/code

[2021-01-11 11:03] kreuzerk commented on #104
Hi @Lonli-Lokli thx for this question. 👍

This is definitely possible. However it's not really the job of `svg-to-ts`. Usually, you should do this inside the project where you use `svg-to-ts`. Currently `svg-to-ts` supports multiple use cases. Therefore this might be a react library, an Angular library, a Vue library, or even a plain TS/JS library.

In our case, we deliver the icons as a standalon

[2021-01-11 11:03] #104 closed

[2021-03-11 20:05] criskrzysiu opened #110 "Prefix icon name"
Hi, I would be willing to create a PR with a feature to prefix not file but icon name.

with for example
[code]
we wold get
[code]

this will allow creating icon bundles that can be distinguished by icon name.

For example, would be great for `@ngeat/svg-icon` library to use multiple bundles of icons exp. font-awesome 4 and 5 toogether etc..

[2021-03-11 22:03] kreuzerk commented on #110
Hi @criskrzysiu

Thanks for this issue. I think this is a valid use case and makes sense 👍 I would expect the `namePrefix` to be an optional property. With this approach, we don't break anybody.

Looking forward to the PR ;)

[2021-03-16 14:13] tarangkhandelwal opened #111 "Support to have generated file as json instead of js/ts"
Hi,
We have a use case where we don't want to have output as a Javascript object in js/ts file but instead a json file.
We are primarily avoiding .ts file so that doesn't get bundled as part of main bundle. We will dynamically import the json file to add icons to icon registry.

Is providing output file to be a json already supported or something that seems like a valid requirement?

[2021-03-16 21:02] kreuzerk commented on #111
HI @tarangkhandelwal

Thx a lot for bringing this up. Converting SVG to JSON is currently not implemented. As the name indicates, the goal of this project is to transform the SVG icons into TypeScript. Converting to JSON doesn't really fit into this project. Maybe it could be a fork of this repository or in a new project.

Kind regards

[2021-03-16 21:02] #111 closed

[2021-03-18 10:57] fstodulski opened #112 "Script adds additional space in filename."
Script adds additional space in filename between prefix and icon's filename.
![image](https://user-images.githubusercontent.com/14015728/111615432-0834c700-87e1-11eb-9a2f-fb7cff72bc57.png)

Config:
<pre>
<code>
"svg-to-ts": {
    "generateType": "true",
    "delimiter": "KEBAB",
    "conversionType": "files",
    "iconsFolderName": "svg",
    "prefix": "app",
    "srcFiles": [
      "./libs/tetris

[2021-03-25 14:54] kreuzerk commented on #112
Hi, @fstodulski thanks for reporting this issue.

I tried to reproduce this issue with your configuration in a new starter project. I also tried to reproduce it in svg-to-ts itself. Unfortunately, I couldn't reproduce it. Also svg-to-ts is used across multiple organizations and we never encountered this issue. I guess there must be something wrong with your raw svg-icons or something else. Do you

[2021-04-03 19:57] KingDarBoja commented on #65
I am facing the same issue if I try to keep the library as Angular one as tree-shaking works with `"conversionType": "files"` but unfortunately looks like to achieve tree-shaking + lazy-loading it requires either having 1 secondary entry point per TS icon or copy the compiled sources after building the library as @kreuzerk pointed out. The downside of the second approach is trying to figure out ho

[2021-04-05 11:47] tomsoftwarealliance opened #114 "SyntaxError: ']' expected"
I was using[ svg-icon-library-starter](https://github.com/kreuzerk/svg-icon-library-starter), following the instructions and using these configurations:

**.svg-to-tsrc**
[code]

I ran `npm run serve` which produced this error

[code]

I've not altered anything from the starter except the recommended REPLACE_ME text. This seems to be an issue with this package.

[2021-04-07 09:48] atbostudio opened #115 "Error: EMFILE: too many open files while processing SVG files"
i am currently trying to use this project upon a very large icon set.

the error i am fancing happens at the i/o operations using fs.
`
svg-to-ts: ✖ Processing SVG files
svg-to-ts: Error: EMFILE: too many open files, open '[random-icon-on-emfile-error].svg'
`

this might be a problem depending on the node version, but currently i have no option to update.
i am using `node -v  v12.13.1` on Microsof

[2021-04-07 11:58] atbostudio commented on #114
do you have any svg files in the given ("./svg-icons/") folder?
i had this error when the the path wasn't correct or the folder was empty.

maybe re-run npm install after deleting node_modules folder and package.lock.json.
if you are using windows try to adjust the path maybe.

here is also a running configuration, which worked for me, you might try (you may change the paths for your needs):
[code

[2021-04-09 17:39] #115 closed

[2021-06-11 15:52] DartWelder opened #124 "Enum instead of Union type"
Hey, guys! Thanks for so usefull tool!
You provide only generateType option that might be inconvenient. I use string Enum for storing all icons names like here:
![image](https://user-images.githubusercontent.com/25117312/121713721-d41e2900-cae5-11eb-8b66-35be82388b4a.png)
Is there the way to generate Enum instead of Type?

[2021-06-11 15:55] kreuzerk commented on #124
Hi @DartWelder. To generate a Enum you can set the `generateType` flag in your config to true.

[2021-06-11 15:56] #112 closed

[2021-06-11 15:58] DartWelder commented on #124
I found the generateTypeObject parameter that generates a constant, but that is still not what I need.

[2021-06-11 18:07] felipeplets commented on #124
@DartWelder I believe the correct is to set `generateTypeObject` and `generateType` that will generate an `enum`

[2021-06-12 09:07] DartWelder commented on #124
I've tried that. It won't work. I can't find any possibilities of Enum creating here https://github.com/kreuzerk/svg-to-ts/blob/master/src/lib/generators/code-snippet-generators.ts

[2021-06-12 17:11] DartWelder commented on #124
@kreuzerk Hi, Kevin! I have a solution, but I can't push my branch to the repo.

[2021-06-14 08:14] kreuzerk commented on #124
Hi, @DartWelder in order to create a PR you have to fork the repository first. Then you have to create and push a branch on your forked repository and create the PR from there.

[2021-06-14 17:07] DartWelder commented on #124
@kreuzerk thanks!

[2021-06-21 16:56] artschedrov opened #126 "File names containing dots in the name are not accepted when building (at "conversionType": "object")"
Hi, when the filename contains dots in the name, then when the file ts is created, an empty object is output.

for example I have this svg's:
![Снимок экрана 2021-06-21 в 23 46 20](https://user-images.githubusercontent.com/44718441/122799665-33e9b080-d2ec-11eb-8f7e-5277580299da.png)

and such a config in package.json:

`"svg-to-ts": {
    "conversionType": "object",
    "srcFiles": [
      "./src/

[2021-06-22 09:04] DartWelder commented on #124
@kreuzerk hi! Will you check my PR soon?

[2021-07-15 11:37] owensgit opened #127 "Update to SVGO version 2.3.X"
The **svgo** package is now on version 2.3.X which introduces a new way of setting the config.

Instead of a JSON file, it's now a JS module.

Docs: https://github.com/svg/svgo#configuration

E.g.

[code]

**svg-to-ts** has a `--svgoConfig` option which looks for a JSON file. This should probably be updated to use the new module config instead.

E.g.

[code]

[2021-09-24 08:54] Guzel738 opened #132 "Export all icons from icons.ts (conversionType==='constants')"
**Environment**

- Angular 12;
- svg-to-ts 6.0.2.

**Problem**

In the second approach to converse types (conversionType==='constants'), generated file icons.ts doesn`t contain export of all icons. So everytime we add new icon in method registerIcons() and we need to add this icon to the import list.

It should be better to have singe export with all constants as : export const all = [icon1, icon2

[2021-11-11 11:54] josealeixopc opened #136 "Adding svgoConfig file path as a command line argument"
Hello. First of all, thank you so much for maintaining this tool!

I've recently updated `svg-to-ts` to 7.1.0 and noticed that some of my icons were not scaling properly. I figured it had to do with SVGO [setting `removeViewBox` as a default plugin](https://github.com/svg/svgo/pull/1461). I wish to use my own SVGO config to disable this behavior.

I have added a `svgo.config.js` file to the root o

[2021-11-11 14:14] kreuzerk commented on #136
HI @josealeixopc thx a lot for the question. Currently, we don't support custom paths for svgo configs. However, you can always configure your `svgo` inline in your `svg-to-ts` config. See an example in the [README](https://github.com/kreuzerk/svg-to-ts) where we configure svgo inside the `svg-to-ts` object in the `package.json`

[2021-11-11 14:15] kreuzerk commented on #136
[code]

[2021-11-12 17:38] josealeixopc commented on #136
Thanks @kreuzerk ! Passing the config using the `svgoConifg` field worked :)

[2021-11-12 17:38] #136 closed

[2021-11-13 10:26] kreuzerk commented on #136
@josealeixopc 👍 Glad to hear that it worked

[2021-12-02 13:48] BlindDespair commented on #110
I also think that we should be able to specify a prefix for the `const` and for the file name separately when using `files`. Because now I end up with files that look like `myPrefixWord-down.icon.ts` where as I expect it to be `my-prefix-word-down.icon.ts`.

[2021-12-22 15:07] cakeinpanic opened #137 "Generate types for "conversionType": "object","
Hi!
I'd like to have an option to generate types even if I'm converting SVGs to one object

Types can be used like that:
[code]

[2021-12-22 20:48] kreuzerk commented on #137
Hi @cakeinpanic. Thx a lot for the feature request. This request makes perfect sense. I can take a look at this once I find the time. Of course, if you want, you can also create a PR ;).

[2022-01-11 21:37] kaigothe opened #138 "SyntaxError in `npx svg-to-ts --conversionType files`"
I try using svg-to-ts via npx: `$ npx svg-to-ts --conversionType files -s ./icons -o ./iconDist`

I got following output:
[code]

node version: v16.13.1
ppm version: 8.1.2

[2022-01-12 14:10] kreuzerk commented on #138
Hiu @kaigothe I just tried your command in my project and everything works find. Can you please run `npx svg-to-ts --version` and make sure that you have the latest version of `svg-to-ts`.

[2022-01-12 14:12] kreuzerk commented on #132
Yes, that would make perfect sense. I will try to add this feature once I find the time.

[2022-01-13 10:11] kaigothe commented on #138
Aloha,
current version is:

[code]

[2022-01-14 13:50] ERRORthenBSOD commented on #114
Hi! I have the same issue with step "Export complete icon set", when i try to build icons in docker container! Eveything is fine outside docker

[2022-01-17 08:10] kreuzerk commented on #138
@kaigothe thx a lot for the reply. I will take another look but so far I can not reproduce this.

[2022-01-20 11:44] esskar opened #142 "Failed to Build"
Hi,

i tried to build the library as i wanted to add a feature.
I am getting an authentication error when running `npm i`

Any advice?

[code]

[2022-01-20 12:50] kreuzerk commented on #142
Hi @esskar this is my bad. I work on various client projects and some of them have a custom registry. Sometimes when switching between clients projects and open source I forget to change the global `.npmrc`. I just updated the package-lock. If you pull the lastest master everything should work.

[2022-01-20 12:50] #142 closed

[2022-02-02 13:24] kreuzerk opened #143 "Refactor surface layer"
Currently all the configuration options are collected in the same file that contains a lot of logical branches. It would be cleaner to provide 3 different binaries to distinguish between conversion types

[2022-02-02 18:20] kreuzerk opened #144 "Improved help output"

[2022-02-02 23:29] #143 closed

[2022-02-02 23:29] #144 closed

[2022-02-02 23:40] kreuzerk opened #146 "Fix initial info message"

[2022-02-03 09:15] #146 closed

[2022-02-03 09:16] kreuzerk opened #148 "Add an option to configure the complete icon set"

[2022-02-03 13:47] #148 closed

[2022-02-03 14:07] kreuzerk opened #150 "Fail early if no src files are found"

[2022-02-03 21:50] kreuzerk commented on #138
Hi @kaigothe I investigated again and I think this error occurs if no `srcFiles` are found. I think the library should fail early if no sources are found. This is currently not the case. I added a story to improve this behavior.

I will let you know once I have improved this behavior. In the meantime, you can also try to run the command with the `--verbose` flag to get a more detailed log output.

[2022-02-03 22:11] #150 closed

[2022-02-03 22:20] kreuzerk commented on #138
Can you retry again with version 8.2?

[2022-02-04 20:47] #132 closed

[2022-02-04 20:49] kreuzerk commented on #132
Hi @Guzel738 with version 8.3 a complete icon set gets generated by default when using the constant conversion type

[2022-02-05 15:04] kiwidude68 opened #154 "Upgrading from 7.x to 8.x not finding svg files"
Hi @kreuzerk

This is what I have which works perfectly fine using svg-to-ts 7.1.1 - all package.json based:

[code]

Then further down...

[code]
Based on the release notes for 8.x I tried just changing those two "svg-to-ts" places to "svg-to-ts-files" and removed the "conversionType" line. Would you expect I have to do anything else?

Because when I now run it I get an error message about it not

[2022-02-05 15:53] kreuzerk commented on #154
Hi @kiwidude68. Thx a lot for this issue. If I understood you correctly you changed the binary and the config key.   You only have to change the binary from svg-to-ts to svg-to-ts-files. The key of the config object should still be svg-to-ts.

[2022-02-05 16:05] kiwidude68 commented on #154
Hi @kreuzerk - aha that's my bad, thanks for the steer. Having done that it now works. What steered me wrong was I initially tried to jump from 6.0.0 to 8.3.0 where I *did* just change the binary and not the key of the config object. However I had a different error at that time of "plugin name not found" or something like that, which had me then trying to change the key name too.

As it turned out

[2022-02-05 16:05] #154 closed

[2022-02-05 16:09] kreuzerk commented on #154
Hi @kiwidude68 very pleased to hear that it now works 👍 thx again for reporting and the replies

[2022-02-05 16:25] Guzel738 commented on #132
Thank you!

[2022-02-15 14:52] eckmLJE opened #155 "svg-to-ts-object generates consts"
Hello, I had previously and successfully configured for v7 and am now trying to configure with v8. My understanding is I should run `npx svg-to-ts svg-to-ts-object` and this replaces `conversionType: "object"` in the config. However, when I run `npx svg-to-ts svg-to-ts-object`, svg-to-ts generates consts and not an object. What am I doing wrong?

[code]
<img width="852" alt="Screen Shot 2022-02-15

[2022-02-15 14:55] kreuzerk commented on #155
Hi @eckmLJE your script section should look like this.

[code]

[2022-02-15 14:59] eckmLJE commented on #155
This is what I get when I run this

<img width="456" alt="Screen Shot 2022-02-15 at 9 59 00 AM" src="https://user-images.githubusercontent.com/31972879/154088020-350a9dbf-2467-459d-b183-2cfd7eb971f6.png">

<img width="874" alt="Screen Shot 2022-02-15 at 9 58 04 AM" src="https://user-images.githubusercontent.com/31972879/154087938-c8eebe95-a443-445e-9f8e-dc06ed5b366f.png">

[2022-02-15 15:00] kreuzerk commented on #155
Sorry, you are right your command was correct. I overlooked the `npx` call. I will try to take a look

[2022-02-15 15:05] eckmLJE commented on #155
Great, thank you!

[2022-02-15 15:21] eckmLJE commented on #155
This appears to have done the trick. What is the -p flag?

[2022-02-15 15:23] eckmLJE commented on #155
👍🏻 Sure thing, thanks again for the quick response.

[2022-02-15 16:11] #155 closed

[2022-02-15 16:11] kreuzerk commented on #155
Thx for reporting the issue 👍

[2022-02-16 22:28] rgreenhalge opened #156 "exportCompleteIconSet false still generates completeIconSet const"
version 8.3.0

Just as the title says, after updating from version 7 and changing my build scripts to use the new binary, my final output file adds  a new array of all the icons `completeIconSet` even if the config flag is set to false.

package.json:

[code]
output.ts
[code]

[2022-02-21 20:04] kreuzerk commented on #156
Thx a lot for reporting this issue. There's an issue with the handling of the boolean flags which was actually not only affecting the `exportCompleteIconSet`.

[2022-02-21 20:10] #156 closed

[2022-02-21 20:11] kreuzerk commented on #114
Can you retry with the latest version?

[2022-03-06 02:37] dudewad opened #158 "Tree Shaking only works with sideEffects: false"
I followed the tutorial you have on setting this up for Angular applications - first off, great work. Love the whole model of handling SVGs.

However, the whole benefit was tree-shakability, and on inspecting bundles I noticed that the way the exports work it seems to implicitly not be tree-shakable because there's a barrel file that re-exports everything - all svgs are imported in the final produ

[2022-03-07 07:28] kreuzerk commented on #158
Hi @dudewad. Thx a lot for the question. Your analysis is completely right. The `sideEffects` flag needs to be set to `false`. For the standard use case, this isn't a problem because you have a dedicated icon library which is published to npm. The only purpose of this lib is delivering icons.

However, in a Monorepo approach, things are different. I get that you probably don't want to set `sideEff

[2022-03-14 20:24] conradopsa opened #159 "Support to SVG React Component"
Hello! This library is so fantastic and very useful for a React project that I developing.

Unfortunately, that lib is not 100% compatible with React.
When SVG are generated, svg information is stored as String.
But React don't recognize a String as SVG, it understand only if SVG is a React Component.

So in the example below, generated files is not useful :(
![image](https://user-images.githubuse

[2022-03-17 02:15] dudewad commented on #158
Sorry for the delay on this-- I didn't get a notification!

Honestly I've been doing so much app-level work that I haven't stopped to think about it too much. Currently in one of the various projects I'm involved in (a large enterprise library), we have an asset-specific lib within our monorepo that bundles ALL SVGs into one package.

This isn't great, because the file size has grown over time and

[2022-03-17 22:36] kreuzerk commented on #158
@dudewad Thx a lof for that response. It's funny because it now happens that I am also creating a NX monorepo for a client. Soon we will also use icons in the monorepo. So I hope that I will have some time next week to analyze and implement this. Once I have it running in our application I will let you know about our approach and our findings.

[2022-03-17 22:41] kreuzerk commented on #159
Hi @conradopsa thx a lot for the issue. Great to hear that you use it with React. I am not too familiar with React. But I am curious how you use the icons. The goal of the project is to transform SVG icons into valid TypeScript. That's the reason why we store the SVGs as string. If I am right, removing the quotes would resolve in invalid TypeScript code.

[2022-03-18 18:47] pwarelis opened #160 "conversionType==='constants' never uses the interface"
The example output for the constants shows

[code]

But the reality is that the interface is never used and the output looks like this

[code]

Am I missing something? Tried combinations of different configurations, and finally looked at the code. The interface is never used. It this a bug?

[2022-03-20 16:21] kreuzerk commented on #160
Hi @pwarelis thx a lot for this issue. I just checked it and was able to reproduce it. Yes, this is definitely a bug.

[2022-03-20 16:32] kreuzerk commented on #160
Hi @pwarelis I just checked it locally and this is actually correct. So the interface is generated as a helper type for your functions. This means you can use it to implement a registry for example. Imagine you would want to implement a `registerIcons`function. In such a case you could use the `MyIcon` interface to type the function signature.

[code]

A single icon on the other hand isn't typed w

[2022-03-20 16:45] kreuzerk commented on #160
@pwarelis I updated the docs. I hope the explanation above is understandable and its okay for you if I close this Issue.

[2022-03-20 16:45] #160 closed

[2022-03-20 19:26] cakeinpanic commented on #137
@kreuzerk hi, I just opened a PR :)

[2022-03-21 03:36] dudewad commented on #158
🎉 What a lovely coincidence!

Hopefully you find a need for it. Would love to get any updates as you have them. Also, thanks again for your work on the lib - works great. I'll check back and see if you come up with any updates or new recommendations based on a monorepo approach. Particularly if you go the route of having libs that incorporate svgs...!

[2022-03-30 12:31] Garbee commented on #138
I just got the chance to test with what we are doing at work with 8.4.0. It is now failing early with a proper error message.

At least in my case here, this is fixed.

Still can't generate an enum off of Material Icons. But I have a feeling that is an auxiliary problem due to source file naming not being 1-to-1 convertible into TypeScript. (Like I had to filter out some numeric filenames just to

[2022-03-31 07:39] kreuzerk commented on #138
@Garbee Thx a lot for the feedback. Feel free to open another issue once you know which source file namings caused the failure. Thx for the collaboration 👍

[2022-03-31 07:39] #138 closed

[2022-04-08 11:34] treksn opened #164 "Customize output filename"
We are using svg-to-ts in our project to inline SVGs which works really nice. However these SVGs are not really "icons" and I wonder if it would be possible to customize the filename of the generated output files from your library. Currently it is like this: <file-name>.icon.ts . Would it be possible to customize this withing the config for example <file-name>.svg.ts ? That would be nice.

Thank y

[2022-04-09 20:46] kreuzerk commented on #164
Hi @treksn thx a lot for this issue. Yes, that's definitely possible. I can take a look at this once I find the time. Unfortunately, I can currently not think of a descriptive name for this option. Naming, the hardest thing in programming. Good ideas for on how to name this options are more then welcome ;)

[2022-04-18 18:48] Bilal-io commented on #159
@kreuzerk the files can be exported as `.tsx` so that eslint understands it's "JSX". Another thing, `class="..."` has to be changes to `className="..."`
I cannot think of any other attributes that an SVG has which would be considered invalid JSX.

[2022-04-18 18:53] Bilal-io opened #165 "svg-to-ts-constants not creating enums"
I am seeing an issue where Enums are not created in the file generated from calling `npx -p svg-to-ts svg-to-ts-constants`

My config file:
[code]

The interface references the Enum, but the enum itself doesn't exist.
[code]

[2022-04-21 14:57] kreuzerk commented on #159
@Bilal-io thx a lot for the explenation. I now understood it. Will try to take a look at this once I find time.

[2022-04-24 16:29] kreuzerk commented on #159
Hi @Bilal-io @conradopsa I just released v8.5.0 which introduces a `tsx` flag that you can use to generate valid TSX files. With this change you should now be able to use the generated output directly as a react component.

[2022-04-24 16:29] #159 closed

[2022-04-25 19:19] #137 closed

[2022-04-25 21:57] kreuzerk commented on #114
Hi @tomsoftwarealliance I will close this because I think this should be fixed with the latest version. Let me know if not and I am happy to reopen the issue.

[2022-04-25 21:57] #114 closed

[2022-04-28 07:16] kreuzerk commented on #165
Hi there, we fixed this issue but it's not yet released because we have reached limits on Travis CI free plan and they currently disabled our builds. I think we will need to switch to GitHub actions next and then release this fix.

[2022-04-28 11:17] Bilal-io commented on #165
Thank you for your awesome work!
I'd be happy to contribute in any capacity.

[2022-04-30 11:27] kreuzerk opened #173 "Switch to GitHub Actions"

[2022-04-30 16:35] kreuzerk commented on #165
Hi @Bilal-io thx a lot. Of course, every contribution is welcome. Feel free to take a look at one of the open issues and don't hesitate to reach out to me in case you need some help. Also, I now successfully migrated from Travis to GitHub actions and now successfully released v8.6.0 that contains a fix for this issue.

[2022-04-30 16:35] #165 closed

[2022-04-30 16:37] #173 closed

[2022-05-02 20:12] kreuzerk commented on #158
Hi @dudewad I just created a sample project that illustrates how to use svg-to-ts in a monorepo. https://github.com/kreuzerk/icons-monorepo. The example is in Angular though. Which framework are you using?

Just asking because I recently just released some new TSX features that might be very interesting in case you use React.

[2022-05-02 20:14] kreuzerk commented on #158
I will also close this issue for the moment since its not really a bug or a feature request. But feel free to continue writing here. Am very happy to discuss the use of svg-to-ts in a monorepo.

[2022-05-02 20:14] #158 closed

[2022-05-03 16:04] dudewad commented on #158
@kreuzerk I'm using ngrx w/ angular. Will check out your monorepo stuff. Thanks a lot!

[2022-05-25 18:00] skoblenick opened #176 "completeIconSetName"
Using `"svg-to-ts": "8.6.1",` running `svg-to-ts-constants` with the following setting in the `./svg-to-tsrc.js` config:

[code]

results in:

[code]

being placed in the output file. The case has been modified! I expect the value I supply in the config to be what I get back in the file, it should **NOT** be modified; if I wanted camelCase I would have supplied camelcase.

The same is true of `MYI

[2022-06-23 17:13] Lonli-Lokli commented on #110
@kreuzerk I believe this issue can be closed now

[2022-06-23 19:35] kreuzerk commented on #110
Yes. @Lonli-Lokli thx for the reminder 👍

[2022-07-01 21:40] ichepurnoy opened #182 "Configure line endings for generated files"
Hi! I'm using conversionType==='files' option in configuration (but the problem is also same for conversionType==='object').  But every time I re-generate my icons, Git sees all re-created *.ts files as changed, because they have `LF` endings.  I'm on Windows, I have set up my Git as recommended by its docs:  `git config --global core.autocrlf true`.  How can I configure line endings, to avoid com

[2022-07-25 12:25] imike57 opened #183 " ENOENT  not found: svg-to-ts"
Hello,

Does someone make it work with pnpm ?

If I set a script in my package.json as specified in the documentation

[code]

I got
` ENOENT  not found: svg-to-ts`

pnpm --version
6.24.4
node --version
v16.13.1

[2022-07-25 20:57] kreuzerk commented on #183
The latest version of `svg-to-ts` doesn't export a binary named `svg-to-ts`. Try to call either `svg-to-ts-object`, `svg-to-ts-constants` or `svg-to-ts-files`. Checkout the [Readme](https://github.com/kreuzerk/svg-to-ts#binaries) to find out more about those options.

[2022-07-25 20:57] #183 closed

[2022-07-25 20:59] kreuzerk commented on #183
@imike57 I just tried it out locally with `pnpm` and it works perfectly if I use one of the binaries described above. Let me know if it works for you.

[2022-07-26 06:49] imike57 commented on #183
@kreuzerk thank's. It works.

[2022-07-26 06:59] kreuzerk commented on #183
@imike57 👍

[2022-10-12 06:46] roman-gyver opened #184 "after running npm i svg-to-ts --> error svg-to-ts command not found"
I installed and configured svg-to-ts as was instructed, but i get constantly svg-to-ts command not found.I even tried with npm install svg-to-ts -g and no help.

[2022-10-12 07:59] kreuzerk commented on #184
Hi @roman-gyver, thx a lot for this question. I guess you were instructed by an outdated tutorial. We recently renamed the binary to `svg-to-ts-constants`, `svg-to-ts-files`and `svg-to-ts-objects`. There's no longer a `svg-to-ts`command.

Hope that helps, let me know if you need more help.

[2022-10-12 08:29] roman-gyver commented on #184
Hi @kreuzerk, thank you for quick answer, `svg-to-ts-constants` worked and was the right one for our needs! Have a great day! :)

[2022-10-12 08:30] roman-gyver commented on #184
Hi @kreuzerk, thank you for quick answer, `svg-to-ts-constants` worked and was the right one for our needs! Have a great day! :)

[2022-10-12 09:03] kreuzerk commented on #184
👍 happy to hear that it worked.

[2022-10-12 09:03] #184 closed

[2022-10-22 01:00] manandkumaar commented on #159
Hi @kreuzerk , @conradopsa , @Bilal-io ,

I am trying to implement tree-shakable icons in my react app.

Is there a sample app for reactjs to refer?.
Thanks.

[2022-10-23 23:33] kreuzerk commented on #159
Hi there, no, unfortunately, afaik, there's no demo app. Initially, this project was made for Angular. We then later added react support. I am not a react dev, but from my point of view, the concept of a tree-shakable library should be similar.

[2022-10-24 19:32] rubens-lopes commented on #164
Hi everyone,

We have a similar need, maybe a bit more complex.

In our case our svg lib outputs the following for each icon:
![image](https://user-images.githubusercontent.com/68246549/197607132-e86c1926-aa4b-46ad-8ece-11ee5da62d1b.png)
It is exported that way because of mobile apps. On the web we intent to use only the 24 size, so we want to drop the `_24` and the `_filled` parts of the name and

[2022-10-25 07:51] manandkumaar commented on #159
Thank you @kreuzerk. Let me try to integrate with CRA and let you know if any help is needed.

[2022-10-31 14:28] samjt opened #194 "Cannot run svg-to-ts, executable not found"
## Bug or Documentation unclear?
Running `npx svg-to-ts` or `npx svg-to-ts svg-to-ts-files` as mentioned in the documentation results in

[code]

[2022-10-31T14_19_30_393Z-debug-0.log](https://github.com/kreuzerk/svg-to-ts/files/9901915/2022-10-31T14_19_30_393Z-debug-0.log)

Using npm installed version has the same problem:

[code]

`npm run icons` also results in an error, in a brand new empty pr

[2022-10-31 14:56] kreuzerk commented on #194
Thx a lot for this question. The latest version of svg-to-ts doesn't export a binary named svg-to-ts. Try to call either svg-to-ts-object, svg-to-ts-constants or svg-to-ts-files. Checkout the [Readme](https://github.com/kreuzerk/svg-to-ts#binaries) to find out more about those options.

[2022-10-31 14:57] kreuzerk commented on #194
If you want to run svg-to-ts with npx your command should look like this:
`npx svg-to-ts svg-to-ts-object`